/**
* Name : Tian Yang , TK Chen
* csc 337
* date:4/21
*/

#name{
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
	font-family: Georgia,"Times New Roman",serif;
	text-shadow: 3px 3px #999999;
	color: #EAF6F6;
}

#top{
    
	display: flex;
	justify-content: center;
    height: 250px;
	}

body{
	background-image:url("bg.png");
	background-color: #EAF6F6;
	justify-content: center;
	background-repeat:no-repeat;
	height: 100%; 
	
	background-size: cover;

    
}
#forhistory{
	display: flex;
	justify-content: center;
}
#cityname{
	width: 450px;
}
#search{
	width: 50px;
}
#history{
	width: 504px;
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}
ul{
	list-style: none;
	float: left;
	padding-left: 5pt;
	padding-top: 5pt;
	margin-top:0pt;

}
li{
	margin-top: 2pt;
	font-size: 15pt;
	font-family:  Helvetica,Arial,"Times New Roman",serif;
	color: blue;


}


#box{
	display: flex;
	justify-content: center;
	height: 45px;
}

table{
	border-collapse: collapse;
	border:1px #dad9d4 solid;
	width:65%;
	height: 100px;
	text-align: center;
}
#specific{
	display: flex;
	justify-content: center;
}
#table{
	display: flex;
	justify-content: center;

}

#refresh{
	float: left;
}
